#socialsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6e9da;
  padding: 7rem 2rem;

  #iframeContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;

    #iframeCarouselTrack {
      display: flex;
      width: 100%;
      transition: transform 150ms ease;

      .iframeItem {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 100%;
        box-sizing: border-box;
        padding: 0 0.5rem;

        // When at 768 viewport width only 2 cards will show at a time
        @media (min-width: 768px) {
          min-width: calc(100% / 2);
        }

        // When at 1108 or more viewport width only 3 cards will show at a time
        @media (min-width: 1108px) {
          min-width: calc(100% / 3);
        }

        button {
          padding: 1rem;
          font-size: 1rem;
          background-color: #007a52;
          color: white;
          border-radius: 0.5rem;
          border: none;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: #03452f;
          }
        }

        iframe {
          height: 300px;
          width: 100%;
          border-radius: 1rem;
          border: none;

          @media (min-width: 768px) {
            height: 500px;
          }
        }
      }
    }
  }

  #iframeButtonContainer {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;

    button {
      height: 60px;
      width: 60px;
      font-size: 1.5rem;
      background: none;
      border: none;
      background-color: #007a52;
      color: white;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #03452f;
      }
    }
  }
}

#footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #007a52;
  color: white;
  padding: 4rem 2rem;
  gap: 2rem;

  @media (min-width: 1008px) {
    flex-direction: row;
  }

  .footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      width: auto;
    }

    .contactInfo {
      .contactLink {
        text-decoration: underline;
      }
    }

    .contactInfo:nth-of-type(3) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      @media (min-width: 768px) {
        width: auto;
      }

      input {
        width: 100%;
        height: 30px;
        border-radius: 0.5rem;
        outline: none;
        border: none;

        @media (min-width: 768px) {
          width: 200px;
        }
      }

      .socialPlatforms {
        display: flex;
        justify-content: center;
        gap: 1rem;

        img {
          max-width: 100%;
        }
      }

      .clickForMore {
        background-color: #d6e9da;
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
